<body>
    <div class="signup-form">
        <form name="myForm" (ngSubmit)='AddsignupUser()'>
            <h2>Register</h2>
            <p class="hint-text">Create your account.</p>
            <div class="form-group">
                <!--  <div class="row">
                    <div class="col"><input type="email" class="form-control" name="email" [(ngModel)]=userSignup.email  placeholder="Email" required="required"></div>
                   
                </div>-->
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="phone" [(ngModel)]=userSignup.phone
                    placeholder="Mobile No." ng-pattern="/^[7-9][0-9]{9}$/" required="required">
                
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" [(ngModel)]=userSignup.pwd
                    placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" [(ngModel)]=userSignup.cnfpwd
                    placeholder="Confirm Password" required="required">
            </div>
            <!-- <div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
            </div> -->
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block" click-once
                    ng-disabled="!userSignup.phone.$valid">Register Now</button>
            </div>
        </form>
        <div class="text-center">Already have an account? <a href="#">Sign in</a></div>
    </div>
</body>