.passApply{
    margin: auto;
    width: 75%;
    background-color: lightgoldenrodyellow;
   
}
.passApply #tab2,label,input,select{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    font-weight: bold;
}
#tab2 tr,td {
    border: 0;
    
}
h2{
    padding: 25px;
    text-align: center;
    color:darkblue;
    font-weight: bolder;
}
h4{
    margin: 30px;
    color:darkblue;
    font-family:Arial, Helvetica, sans-serif;
}