<header>
    <nav class="navbar navbar-light bg-light">

        <!-- logo -->
        <div class="navbar-brand">
          <a class="navbar-item"  href="#">
            <img src='assets/img/kp2.png' alt="logo" width="240px" height="100px">
            <img src='assets/img/india.gif' alt="logo" width="80px" height="53px">
                <img src='assets/img/break1.png' alt="logo" width="170px" height="55px"  style="margin-left: 50%;" >
                <img src='assets/img/kerala.png' alt="logo" width="80px" height="55px" style="margin-left: 75%;">
        </a>
      <div class="head-select col-lg-12">
        <a routerLink='/'>Apply for Pass</a> 
        <a  routerLink='/login'>LogIn</a> 
        <a  routerLink='/signup'>SignUp</a>   
        
      </div> 
     
        </div>
      </nav>
   
</header>