<body>
<div class="login-container">
    <section class="login" id="login">
      <header>
        <h2>Login</h2>
 
      </header>
      <form>

        <input type="text" class="login-input"  name="phone" placeholder="Mobile No." required autofocus>
        <input type="password" class="login-input" name="pwd" placeholder="Password" required>
        <div class="submit-container">
          <button type="submit" class="btn login-button" >SIGN IN</button>
        </div>
      </form>
    </section>
    
  </div>
</body>
  <!-- <button id="e1">Login error!</button> -->
